{% extends "layout.html" %}
{% block content %}

<html>
<head>

<body bgcolor="F0F8FF">
	<a href="#" onclick="javascript:subject('subject');">Classes:</a>
	<table  width="400" border="1" bgcolor="white" class='familyclass'></table></body>
    

<button type="button"> OK </button>

	
<!-- <button type="button"> Save </button> -->

	<!-- 	 -->




</head>


</body>
</html>


<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">
function subject()
	
	{

	var input_gender = document.getElementsByName('subject');
    
	$.ajax({
               type: "POST",
               url: '/classlist/',
                data: {
                     // post:'POST',
                     csrfmiddlewaretoken: '{{csrf_token}}',
                      },
		success : function(response)
		{

			console.log(response);
			var data=response['data'];
			var startstr = '';
            for (i=0; i<data.length; i++)
               { 
               var subject = data[i][0];
               
               var subject = subject.toString();
               
                       
               // console.log(name, code)
               var str = startstr.concat('<tr><th></tr></th>Select');
               var res = str.concat('<tr><td>', subject, '</td><td><input  type="radio" name="select" value="select"</td></tr>')
               // var res = str.concat('<tr name="name"><td >', name, '</td><td>', code ,'</td><td><div><input type="checkbox" name="attendance" value="attendance" checked></div></td></tr>')
               $('.familyclass').append(res)  
               }

		},
		});
	}



</script>





{% endblock %}