{% extends "layout.html" %}
{% block content %}

<html>
<head>

<body bgcolor="F0F8FF">

<form>
<a href="#" onclick="javascript:subject('subject');">Classes:</a>
<select id="selectElementId"></select>	
</body>
</html>

	

    

<button type="button"> OK </button>

	
<!-- <button type="button"> Save </button> -->

</head>


</body>
</html>


<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">

		function subject()
	
		{

		var input_gender = document.getElementsByName('subject');

    
		$.ajax({
               type: "POST",
               url: '/classlist/',
                data: {
                     // post:'POST',
                     csrfmiddlewaretoken: '{{csrf_token}}',
                      },
	success : function(response)
		{

			console.log(response);
			var data = response['data'];
			console.log(data)
			select = document.getElementById('selectElementId');

			for (var i = 0; i<=data.length; i++){
    			var opt = document.createElement('option');
    			opt.value = data[i];
    			opt.innerHTML = data[i];
    			select.appendChild(opt);
				}

		},
		});
	}



</script>





{% endblock %}