{% extends "layout.html" %}
{% block content %}
<html>
<head><title>User Details</title>
<style type="text/css">
h1{text-align: center;}
b{text-align: center;font-size: 18px;}
</style>
</head>
<body bgcolor="DarkSeaGreen"><br/>
<h2>User Details:</h2><div align="center">
<form id="Form"><br/><br/>
	 ENTER Ration ID <input type="text" value="" id="uid" name="uid"/><button type="button" onclick="memberSearch()">Search</button><br/>
	 Name <input type="text" value="" id="uname" name="uname"/><br/>
	 Contact Number<input type="text" value="" id="mobile"   name="mobile"/><br/>
	 Address <input type="text" value="" id="uaddr" name="uaddr"/><br/>
	 <br/><button type="button" id="delete" name="delete" onclick="Delete()"><b>Delete</b></button>
	 </form></div>

 <script src="{{ STATIC_URL }}js/min.js"></script>
 <script type="text/javascript">
 function memberSearch()
	 {
     var uid = document.getElementById("uid").value;

  

  $.ajax({
    type:'POST',
    url:'/user/',
    data:{
      uid:uid,

      csrfmiddlewaretoken:'{{csrf_token}}',
    },
  success : function(response)
    {
  console.log(response);
  // response.style.display = "none";
  document.getElementById('uname').value=response.uname;
  document.getElementById('mobile').value=response.mobile;
  document.getElementById('uaddr').value=response.uaddr;
  if(response=='none'){alert('Member ID DOES NOT EXISTS !!!!!!!!!')}
      },
    });
   }

	 function Delete () {
	 	var uid = document.getElementById("uid").value;
        var uname = document.getElementById("uname").value;
        var mobile = document.getElementById("mobile").value;
        var uaddr = document.getElementById("uaddr").value;

        document.getElementById("Form").reset();
   var all = {
            uid: uid,
            uname: uname,
            mobile: mobile,
            uaddr: uaddr,
            
        };
  
  console.log(all)

  $.ajax({
                type: "POST",
                url: '/delete/',
                data: {
                  uid: uid,
	              uname: uname,
	              mobile: mobile,
	              uaddr: uaddr,

                  csrfmiddlewaretoken: '{{csrf_token}}',
                      },
  success:function(response){
    if(response == 'deleted'){alert('Member Details have been deleted')}
    console.log(response);
  },

  });
}
</script>
	 
	 </body></html>
	 
	 {% endblock %}