{%extends "layout.html"%}
{% block content %}
{% csrf_token %}

<html>
<style type="text/css">
b{text-align: center;font-size: 20px;}	
</style>
<body bgcolor="yellow">

<div align="center">
<b><br><br>Event Name : <input type = "text" id = "name" name = "name"></b></br></br>

<div><br><button id="save"  type="save" onclick="save()">save</button></br></div>

<br><li><a href='/Addevents/'>Click The Link To Add Families</a><li></br>

<form><input type="reset" value="Reset"></form>


</body>
</html>

<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">
   


function save() {
	var name = document.getElementById("name").value;
    var all={
		name : name,
	};

	$.ajax({
		type: "POST",
		url: /events/,
		data: {
			all: all,
			csrfmiddlewaretoken: '{{csrf_token}}',
		},

		success : function(response){
			if (response=='saved'){alert('The Details have been saved successfully')}
			console.log(response);
		},
	});
}




</script>




{% endblock %}

