{% extends "layout.html" %}
{% block content %}
<head>
	<title>RATIONCARD DETAILS</title>
</head>

<body bgcolor="F0F8FF">
{% csrf_token %}


<a id="new" type="new" href='/family/'>NEW</button></a>
<a id="edit" type="edit" href='/familyedit/'>VIEW</button></a>
<a id="edit" type="edit" href='/display/'>EDIT</button></a>


<!-- <li><a button id="view" type="view" href='/view/'>VIEW</button></a></li> -->



<div align="center">

<br>Ration_ID : </h1><input type="text" id='rationid' name="rationid"></br>




<br>Street: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id='street' name="street"></br>
<br>City: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id='city' name="city"></br>
<br>Zip_Code: &nbsp;&nbsp;&nbsp;<input type="text" id='code' name="code"></br></div>

<!-- <div><br><button id="edit"  type="edit" onclick="edit()">Edit</button></br></div>
 -->
<div align="right">
<br><input type='file' id="picture" value='browse'></br>


<br><button id="save"  type="save" onclick="save()">Save</button></br></div>

<br><form><input type="reset" value="Reset"></br></div></form>




<!-- <a href="#" onclick="javascript:show('showhide');">Show</a>  -->
<!-- </form> -->


<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">
   
 
    function save() {
        var rationid = document.getElementById("rationid").value;
        var street = document.getElementById("street").value;
        var city = document.getElementById("city").value;
        var code = document.getElementById("code").value;
        var picture = document.getElementById("picture").value;

        var all = {
            rationcard: rationid,
            street: street,
            city: city,
            code: code,
            picture: picture,
        };

        console.log(all)

        $.ajax({
                type: "POST",
                url: '/family/',
                data: {
                    all: all,
                    all:JSON.stringify(all),
                    csrfmiddlewaretoken: '{{csrf_token}}',
                },

       
            success: function (response) {
                if (response=='exists'){alert('sorry !!! The ration ID entered is already exists')}
                else if (response=='notcomplete'){alert('You have to fill all the columns')}
                else if (response=='saved'){alert('The Details have been saved succesfully')}

                console.log(response);
            },
            });
    }
</script>
</body>


{% endblock %}



