{% extends "layout.html" %}
{% block content %}
<head>
	<title>RATIONCARD DETAILS</title>
</head>
<html>
<body bgcolor="#f4f4f4">
{% csrf_token %}



<!-- <li><a button id="view" type="view" href='/view/'>VIEW</button></a></li> -->


<p><h2 align="left">Ration_ID --> New ></p></h2>


<div align="center">

<h2><br>Ration_ID :<input type="text" id='rationid' name="rationid"></br>




<br>Street: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id='street' name="street"></br>
<br>City: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id='city' name="city"></br>
<br>Zip_Code: <input type="text" id='code' name="code"></br></h2> </div>  



<br><input type='file' id="picture" value='browse'></br>



<br><button id="save"  type="save" onclick="save()">Save</button></br>






<!-- <a href="#" onclick="javascript:show('showhide');">Show</a>  -->
<!-- </form> -->


<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">
    function clear(){
        alert('s')
        document.getElementById("Form").reset();
    }
   
 
    function save() {
        var rationid = document.getElementById("rationid").value;
        var street = document.getElementById("street").value;
        var city = document.getElementById("city").value;
        var code = document.getElementById("code").value;
        var picture = document.getElementById("picture").value;
        var all = {
            rationcard: rationid,
            street: street,
            city: city,
            code: code,
            picture: picture,
        };

        console.log(all)

        $.ajax({
                type: "POST",
                url: '/family/',
                data: {
                    all: all,
                    // all:JSON.stringify(all),
                    csrfmiddlewaretoken: '{{csrf_token}}',
                },       
            success: function (response) {
                if (response=='exists'){alert('sorry !!! The ration ID entered is already exists')}
                else if (response=='notcomplete'){alert('You have to fill all the columns')}
                else if (response=='saved'){alert('The Ration_ID have been saved Added ! ! !')}
                

                console.log(response);
            },
            });
        document.getElementById("rationid").value='';
        document.getElementById("street").value='';
        document.getElementById("city").value='';
        document.getElementById("code").value='';
        document.getElementById("picture").value='';   
    }
</script>
</body>
</html>


{% endblock %}



