{% extends "layout.html" %}
{% block content %}

<body bgcolor="yellow">
<html>

<!-- <br><h3>Enter the ration ID : <input type='text' id='rationid' name='rationid'></br></h3>
 -->

<!-- <input type="image" src="../static/submit.gif" alt="Submit" onclick="Submit();" align="right" width="48" height="48"> -->
<a href="#" onclick="subject">Classes:</a></div>
  <table  width="1000" border="5" bgcolor="white" class='familyclass'>
    </table>
  </div><br>



<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">
function subject()
  
  {
   var input_gender = document.getElementsByName('subject');
  // var  = document.getElementsByName('rationid');
  // var  = document.getElementsByName('street');
  // var  = document.getElementsByName('city');
  // var  = document.getElementsByName('code');
    
  $.ajax({
               type: "POST",
               url: '/classlist/',
                data: {
                     post:'POST',
                     csrfmiddlewaretoken: '{{csrf_token}}',
                      },
    success : function(response)
    {

      console.log(response);
      var data=response['data'];
      var startstr = '';
            for (i=0; i<data.length; i++)
               { 
               var rationid = data[i][0];
               var street = data[i][0];
               var city = data[i][0];
               var code = data[i][0];
               
                       
               // console.log(name, code)
               var str = startstr.concat('<tr><th>rationid</tr></th>street<tr><th>city</tr></th><tr><th>code</tr></th>');
               var res = str.concat('<tr rationid="rationid"><td >', rationid, '</td><td>', street ,'</td><td></td></tr>' city,'</td><td>' code,'</td><td></td></tr>')
               // var res = str.concat('<tr name="name"><td >', name, '</td><td>', code ,'</td><td><div><input type="checkbox" name="attendance" value="attendance" checked></div></td></tr>')
               $('.familyclass').append(res)  
               }

    },
    });
  }


</script>



{% endblock %}