
<body bgcolor="yellow">
<html>

<type id="rationid">
<type id="street">
<type id="city">
<type id="code">



<!-- <input type="image" src="../static/submit.gif" alt="Submit" onclick="Submit();" align="right" width="48" height="48"> -->
<div><br><a href="#" onclick="subject()">Click The link To Display the Ration Card Details !!!!!</a></br>
  <table  align="center" width="500" border="5" bgcolor="#FFA500" class='familyclass'>
    </table></div><br>
  

<!-- <form><input type="reset" value="Reset"></form> -->

<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">
function subject()
  
  {
   
  var rationid = document.getElementById("rationid").value;
  var street = document.getElementById("street").value;
  var city = document.getElementById("city").value;
  var code = document.getElementById("code").value;

    
  $.ajax({
               type: "POST",
               url: '/familyedit/',
                data: {
                     // post:'POST',
                     csrfmiddlewaretoken: '{{csrf_token}}',
                      },
    success : function(response)
    {

      console.log(response);

      var data=response['data'];
      var str_head = '<th>RATION CARD</th><th>STREET</th><th>CITY</th><th>CODE</th>'
      var startstr = '';
      var str = ''
            for (i=0; i<data.length; i++)
               { 
               var rationid = data[i]['ration_card'];
               var street = data[i]['street'];
               var city = data[i]['city'];
               var code = data[i]['code'];
               
               str += '<tr><td>'+rationid+'</td><td>'+street+'</td><td>'+city+'</td><td>'+code+'</td></tr>';

               // var res = str.concat('<tr>rationid="rationid"><td >', rationid, '</td><td>', street,'</td><td></td></tr>' city,'</td><td>' code,'</td><td></td></tr>')
            
               }
               console.log(str)
               var html = '<table><tr>'+str_head +'</tr>'+ str+'</table>';
               console.log(html)
               $('.familyclass').append(html)  

    },
    });
  }


</script>



