{% extends "layout.html" %}
{% block content %}

<!doctype html>
<html>
<body bgcolor="#e8edf1">
</head>
<form>


<!-- <div style="text-align:right">    
  <br><a href="/about/">About</a></br>
  <br><a href="/logout/">Logout</a></br>
</div> -->

<!-- <body background="/static/20635-put-allah-first-and-you-will-never-be-last.png" style="background-repeat: no-repeat" width="1000"><br></body> -->
<img src="/static/20635-put-allah-first-and-you-will-never-be-last.png" width="1000px" height="500px">
  
  
                  
</html>
</form>


{% endblock %}

