{% extends "layout.html" %}

{% block content %}

<html>
<form>
<body bgcolor="F0F8FF">
{% csrf_token %}

  <a id="new" type="new" href='/members/'>NEW</button></a>
  <a id="edit" type="edit" href='/memdis/'>VIEW</button></a>
  <a id="edit" type="edit" href='/display/'>EDIT</button></a>


  <div align="center">
  <font><h4 style = "bold" color = red>Ration ID :</font><input type='text' name="rationid" id='rationid'><br></h4>

   <h4>Person Name: <input type="text" id='name' name="name"><br>
       <br><input type="radio" name="sex" value="male">Male</br>
       <br><input type="radio" name="sex" value="female">Female</br>

   <br>Person code:<input type="text" id='personcode' name="personcode"></br>
   <br>Age: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="age" name="age"></br>	
   <br>Qualfication: &nbsp;<input type="text" id='qualification' name="qualification"></br>
   <br>Occupation: &nbsp;&nbsp;<input type="text" id='occupation' name="occupation"></br><h4></div>


   <button id="myButton" class="float-left submit-button" onclick="document.getElementById('optional_for_student').style.display='block';">Is Student?</button>
   <div id="optional_for_student" style="display:none;">
      <h5>Standard: </h5><input type="text" id='standard' name="Standard"><br><br>
      <h5>Institution: </h5><input type="text" id='institution' name="Institution"><br><br>
      <h5>Grade: </h5	><input type="text" id='grade' name="Grade"><br><br></div>


    <div><br><button id="add" type="add" onclick="add()">Save</button></br></div>

    <input type="reset" value="Reset"> 
</form>
</html>


<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">
  function add() {
	
    // console.log(rationid.value)

    var name = document.getElementById("name").value;
    // console.log(name.value);
    var x = document.getElementsByName("sex");

    if (x[0].checked) {
        value = x[0].value;
        var gender = value;

    } else {
        var gender = x[1].value;
    }
    var ration_id = document.getElementById("rationid").value;
    var personcode = document.getElementById("personcode").value;
    var age = document.getElementById("age").value;
    var qualification = document.getElementById("qualification").value;
    var occupation = document.getElementById("occupation").value;

    var standard = document.getElementById("standard").value;
    var institution = document.getElementById("institution").value;
    var grade = document.getElementById("grade").value;

    var all = {
        rationcard: ration_id,
        name: name,
        personcode: personcode,
        gender: gender,
        age: age,
        qualification: qualification,
        occupation: occupation,
        standard: standard,
        institution: institution,
        grade: grade

    };
    console.log(all)

    $.ajax({
        type: "POST",
        url: '/members/',
        data: {
            all: all,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (response) {
        if (response=='notexists'){alert('sorry !!! The ration ID entered is not exists')}
        if (response=='notcomplete'){alert('You have to fill all the columns')}
        if (response=='personcode'){alert('Person Code should not be Empty !!!')}
        if (response=='personcode_not_unique'){alert('Person Code Already Exists !!!')}
        if (response=='saved'){alert('Your Entries have been Saved !!!')}

            console.log(response);
        },

    });
}
</script>
</body>


<!-- <button id="Edit" type="edit">Edit</button> -->

{% endblock %}