{% extends "layout.html" %}
{% block content %}
<html>
<body>



<p><h2 align="left">Family_Members --> Display ></p></h2>

<body bgcolor="#f4f4f4">
<type id="name">
<type id="personcode">
<type id="age">
<type id="qualification">
<type id="occupation">
<type id="standard">
<type id="institution">
<type id="grade">

Ration ID :<input type="ration_card" id="ration_card" name="ration_card">

<div><br><a href="#" onclick="subject()">Enter Ration_ID and Click</a></br>
  <table  align="center" border="1" bgcolor="#FFA500" class='familyclass'>
    </table></div><br>

</body>



<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">

function subject(){
    var ration_card = document.getElementById("ration_card").value;  
    $.ajax({
    	type:'POST',
    	url:'/memdis/',
    	data:{
        ration_card:ration_card,
    		csrfmiddlewaretoken: '{{ csrf_token }}',
    	},
    success: function(response){
		 var data = response;
     	 if (response == 'none'){alert('Ration Id does not exists !')}
       else{
           var str_head = '<th> NAME </th><th> AGE </th><th> GENDER </th><th> PERSONCODE </th><th> QUALIFICATION </th><th> OCCUPATION </th><th> STANDARD </th><th> INSTITUTION </th><th> GRADE </th>'
        	 var startstr = '';
           var str = '';
           // console.log(data)
           	for (i=0; i<data.length; i++)
                 { 
                 var name = data[i]['name'];
                 var personcode = data[i]['personcode'];
                 var Age = data[i]['Age'];
                 var Gender = data[i]['Gender'];
                 var qualification = data[i]['qualification'];
                 var occupation = data[i]['occupation'];
                 var standard = data[i]['standard'];
                 var institution = data[i]['institution'];
                 var grade = data[i]['grade'];
                 
                 str += '<tr><td>'+name+'</td><td>'+Age+'</td><td>'+Gender+'</td><td>'+personcode+'</td><td>'+qualification+'</td><td>'+occupation+'</td><td>'+standard+'</td><td>'+institution+'</td><td>'+grade+'</td></tr>';              
                 }

                 var html = '<table><tr>'+str_head +'</tr>'+ str+'</table>';
                 $('.familyclass').append(html)  
          }


          },
     });
  }


</script>

{% endblock %}